.main-4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  border: 2px solid purple;
  border-radius: 7px;
  padding: 10px 20px;
  width: 150px;
  height: 50px;
  font-size: 20px;
  background-color: transparent;
  transition-duration: 800ms;
  transition-timing-function: ease;
  position: relative;
  overflow: hidden;
}

.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  /* background-color: purple; */
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(130deg);
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease;
  z-index: -1;
}

.btn:hover {
  transform: scale(1.1);
  color: white;
}

.btn:hover::after {
  transform: rotate(0);
  background-color: purple;
}
